
.footer{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 44px;
    margin-top: 22px;
    cursor: pointer;
}
.footer.p:hover{
    opacity: 0.3;
}